workflows/Campagne Email Automatique.json
{
  "name": "Campagne Email Automatique",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "ef4b2b1a-f8dd-48a5-a1b2-2fdc4a6f956a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/campagnes?nom=Campagne+automatique&sujet=Partenariat+PM+Travel",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        0
      ],
      "id": "3b88cbd7-d24b-48d3-b04e-221a3fd74770",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8000/campagnes/{{ $json.id }}/lancer",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        0
      ],
      "id": "bed168a9-11fa-465c-8e07-5bf77924548c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "id": "35fa6b4a-df12-4560-9317-e485a7069880",
      "name": "Wait",
      "webhookId": "e50d3a67-3cb9-47bc-8ac4-c7f104573e60"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/sequences/relances",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        16
      ],
      "id": "bd66ce70-ffc1-4dd5-9e31-f115d4ef32e1",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "60ca2721-b742-400e-8007-425c8045228a",
  "meta": {
    "instanceId": "5fa691713323041e19a47078381448459dddd71c7c92c977dee7ea13e36e3c6d"
  },
  "id": "YQ4FQ7bIVf2vfiWU",
  "tags": []
}